<p>
  <strong><%= comment.user.username %>: </strong>
  <%= comment.body %>
</p>

<div>
  <% if current_user == comment.user %>
    <%= link_to "Delete Comment", [comment.article, comment],
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
