<h1>Articles</h1>

<% @articles.each do |article| %>
<div class="post-list-item">
    <h2>
        <%= article.title %>
    </h2>
    <div>
        <%= article.body[0..250].gsub(/\s\w+\s*$/, '...') %>
    </div>
    <div class="read-more">
        <%= link_to "Read more", article%>
    </div>
</div>
<% end %>


<%= link_to "New Article", new_article_path %>